.Card {
  width: 100%;
  margin-bottom: 20px;
  Color: #999999;
  border-radius: 15px;
  overflow: hidden;
}

.Card-Head {
  font-size: 24px;
  font-weight: 300;
  padding: 10px 16px;
  background-color: #393939;
  text-align: left;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expander-container {
  cursor: pointer;
}

.expander-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.expander-icon {
  background-image: url('../../Images/svg/bigarrow.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  transition-duration: var(--transition-small);
  opacity: 0.5;

  display: inline-block;
}

.expander-container input:checked ~ .expander-icon {
  transform: rotate(-180deg);
  opacity: 1;
}

.Card-Body {
  padding: 15px;
  background-color: #292929;
}

.Card-Head ul li,
.CardTitle {
  display: inline;
  margin-right: 10px;
  cursor: pointer;
  text-align: center;
  -webkit-transition: border 0.1s;
  -moz-transition: border 0.1s;
  -o-transition: border 0.1s;
  transition: border 0.1s;
}

.CardTitle {
  width: 30px;
}

ul li:hover,
.CardTitle:hover {
  color: #aaa;
  -webkit-transition: color 0.1s;
  -moz-transition: color 0.1s;
  -o-transition: color 0.1s;
  transition: color 0.1s;
}


/* Mobile and small screen layouts */

@media (max-width: 950px) {
  .Card-Head:has(input:checked) ~ .Card-Body {
    display: none;
  }
}