.Card {
  width: 100%;
  margin-bottom: 20px;
  Color: #999999;
  border-radius: 15px;
  overflow: hidden;
}

.Card-Head {
  font-size: 24px;
  font-weight: 300;
  padding: 10px 16px;
  background-color: #393939;
  text-align: left;
}

.Card-Body {
  padding: 15px;
  background-color: #292929;
}

.Card-Head ul li,
.CardTitle {
  display: inline;
  margin-right: 10px;
  cursor: pointer;
  text-align: center;
  -webkit-transition: border 0.1s;
  -moz-transition: border 0.1s;
  -o-transition: border 0.1s;
  transition: border 0.1s;
}

.CardTitle {
  width: 30px;
}

ul li:hover,
.CardTitle:hover {
  color: #aaa;
  -webkit-transition: color 0.1s;
  -moz-transition: color 0.1s;
  -o-transition: color 0.1s;
  transition: color 0.1s;
}