* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

:root {
  --transition-large: 1s;
  --transition: 0.5s;
  --transition-small: 0.3s;
}

@font-face {
  font-family: "Minecraftia";
  font-style: normal;
  font-weight: 400;
  src: url("./Fonts/Minecraft-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Minecraftia";
  font-style: normal;
  font-weight: 700;
  src: url("./Fonts/minecraft-bold.otf") format("opentype")
}

@font-face {
  font-family: "Minecraftia";
  font-style: italic;
  font-weight: 400;
  src: url("./Fonts/minecraft-italic.otf") format("opentype");
}

@font-face {
  font-family: "Minecraftia";
  font-style: italic;
  font-weight: 700;
  src: url("./Fonts/minecraft-bold-italic.otf") format("opentype");
}

@font-face {
  font-family: 'robotolight';
  src: url("./Fonts/Roboto-Light-webfont.eot");
  src: url("./Fonts/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("./Fonts/Roboto-Light-webfont.woff") format("woff"), url("./Fonts/Roboto-Light-webfont.ttf") format("truetype"), url("./Fonts/Roboto-Light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoregular';
  src: url("./Fonts/Roboto-Regular-webfont.eot");
  src: url("./Fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("./Fonts/Roboto-Regular-webfont.woff") format("woff"), url("./Fonts/Roboto-Regular-webfont.ttf") format("truetype"), url("./Fonts/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotobold';
  src: url("./Fonts/Roboto-Bold-webfont.eot");
  src: url("./Fonts/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("./Fonts/Roboto-Bold-webfont.woff") format("woff"), url("./Fonts/Roboto-Bold-webfont.ttf") format("truetype"), url("./Fonts/Roboto-Bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gabarito';
  src: url("./Fonts/GabaritoVariable.woff2") format("woff2");
}

body {
  margin: 0;
  background-color: #212121;
  font-family: 'Gabarito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

#root {
  min-height: 80vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-title{
  font-size: 110%;
}

hr {
  height: 2px;
  width:25%;
  color:#444;
  background-color:#444;
  border: none;
  margin: 20px auto;
}

.textshadow {
  text-shadow: 1px 1px #111;
}

.page-header{
  color: white;
  font-weight: 700;
  margin-bottom: 10px;
}

.page-subheader{
  color: white;
  font-weight: 500;
}

#search-header, .search-header {
  text-align: center;
  margin-bottom: 60px;
  margin-top: 60px;
}

fieldset {
  border:none;
}

.search-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: calc(100% - 20px);
  max-width: 600px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid #666;
  border-radius: 40px;
  padding: 0 0 0 10px;
}

.header-search-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  margin-right: 8px;
  flex-shrink: 0;
}

.header-search-icon.icon-blurred {
  opacity: 0.5;
}

#srchInp{
  height: 40px;
  padding: 10px;
  background-color: transparent;
  border: none;
  color:white;
  font-family: 'Gabarito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  flex-grow: 1;
  width: 100%;
  outline: none;
  min-width: 0;
}

tr:not(:first-child) td{
  border-top: 1px solid #444;
}

.tabular {
  font-variant-numeric: tabular-nums;
}

.srchBtn {
  all: unset;
  background-color: #333;
  color: white;
  border-radius: 50px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 500;
  transition-duration: var(--transition-small);
  min-width: max-content;
  display: inline-block;
  font-family: 'Gabarito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.srchBtn:hover:not(.disabled) {
  background-color: #ddd;
  color: #222;
  cursor: pointer;
}

a{
  color: #999;
}

a:hover{
  color:white;
}

#footer{
  text-align: center;
  bottom: 0;
  width: 100%;
  color:#666;
  margin-top: 20px;
  margin-bottom: 20px;
}

.small-input {
  width:100%;
  font-size: 24px;
  font-family: minecraftia;
  margin-bottom:10px;
  padding:5px;
  color: #aaa;
  border: none;
  background-color: #333333;
}

.small-input:focus {
  outline: none;
}

.text-bounty {
  color: #fa0;
}

.text-bounty.bounty-big {
  background: linear-gradient(133deg,#ff8000 0%, #db1bde 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.header-logo {
  margin-right: 10px;
  width: 40px;
  aspect-ratio: 1991/1884;
}

.ranking .tier-default {
  color: #888;
}

.ranking .tier-gold {
  background: linear-gradient(108deg, #cec2a1 33%, #feeebe 66%, #775730 100%);
}

.ranking .tier-silver {
  background: linear-gradient(108deg, #b5b5b5 33%, #f0f0f0 66%, #5a5a5a 100%);
}

.ranking .tier-bronze {
  background: linear-gradient(108deg, #9e6f25 33%, #d7b480 66%, #6f4305 100%);
}

.ranking .tier-6 {
  background: linear-gradient(139deg, #d42c2c 0%, #dbc72b 100%);
}

.ranking .tier-5 {
  background: linear-gradient(139deg, #b33131 0%, #d30d8a 100%);
}

.ranking .tier-4 {
  background: linear-gradient(139deg, #b1309c 0%, #580c6a 100%);
}

.ranking .tier-3 {
  background: linear-gradient(139deg, #aa32aa 0%, #4947a9 100%);
}

.ranking .tier-2 {
  background: linear-gradient(139deg, #5067b1 0%, #1b5a91 100%);
}

.ranking .tier-1 {
  background: linear-gradient(139deg, #5ca1aa 0%, #189e68 100%);
}

.leaderboard-selected {
  color: white;
  font-weight: 700;
}

.ranking span:not(.tier-default) {
  -webkit-background-clip: text !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.hypixel-stats-link {
  display: flex;
  align-items: center;
  transition-duration: var(--transition-small);
  margin-top: 5px;
}

.hypixel-stats-link img {
  opacity: 0.5;
}

.hypixel-stats-link:hover img {
  opacity: 1;
}

.hypixel-stats-link > *:not(:first-child) {
  margin-left: 5px;
}

.hypixel-stats-logo {
  width: 16px;
  height: 16px;
  margin-left: 5px;
  margin-right: 5px;
}

.home-player-avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  image-rendering: pixelated;
}

.inventory-title {
  text-transform: uppercase;
  font-weight: 700;
  color: #aaa;
  margin-bottom: 5px;
  margin-top: 5px;
}

.inventory-title-count {
  font-weight: 400;
}

.inventory-title:has(.maxed), .inventory-title-count.maxed {
  color: rgb(0, 255, 106);
}

.inventory-title:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #444;
}

kbd {
  all: unset;
  border: 1px solid #ccc8;
  background-color: #4448;
  border-radius: 4px;
  padding: 3px 5px 5px;
  box-shadow: inset 0 -4px 0 #000c;
  text-transform: uppercase;
  display: inline-block;
  margin: 2px;
}

.tinyicon {
  height: 16px;
  transform: translateY(15%);
}

.player-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.show-on-mobile {
  display: none;
}

.item-container {
  display: inline-block;
  text-align: left;
  margin: 20px;
}

.mystic-search-inventory {
  width: calc(55.5*9px);
}

.mystic-search-container {
  margin: 10px;

  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.mystic-query-card {
  max-width: 350px;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  text-align: left;
}

.mystic-results-card {
  margin: 10px;
  max-width: 550px;
}

/* Mobile and small screen layouts */

@media (max-width: 950px) {
  .home-player-avatar {
    width: 50px;
    height: 50px;
  }

  .player-container {
    flex-direction: column;
    align-items: center;
  }

  .hide-on-mobile {
    display: none;
  }

  .show-on-mobile {
    display: initial;
  }

  #side, #main, .mystic-search-container {
    width: calc(100% - 20px);
    min-width: unset !important;
  }

  .mystic-search-container {
    flex-direction: column;
    align-items: center;
  }

  .mystic-query-card {
    max-width: unset;
  }

  .mystic-results-card {
    max-width: unset;
  }

  .mystic-search-inventory {
    width: unset !important;
  }

  .query-box {
    width: calc(100% - 20px);
  }
}
